@* Views/Home/Upload.cshtml *@
<div class="container-fluid">
    <form id="uploadForm" enctype="multipart/form-data">

        <label class="alert alert-info w-100">Choose MP4 files to upload to the Video Catalogue:</label>
        <br />
        <input type="file" id="file" name="file" multiple />
        <br />
        <button type="button" class="btn btn-primary mt-3" onclick="uploadFile()">Upload</button>
        <div id="error-message" class="alert alert-danger mt-3 d-none"></div>
        <div id="success-message" class="alert alert-success mt-3 d-none"></div>


    </form>
</div>
